/Procesador/nbproject/private/
/Procesador/build/
/Procesador/dist/
/Procesador/pruebas/build/
/Procesador/grammar/.antlr/
/Procesador/src/antlr/
/Procesador/.vscode
.vscode/settings.json
/doc
.vscode/launch.json
